.head {
    width: 100%;
    height: 100vh;
    background-image: url(../img/p1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center center;
}
.navbar {
    background: linear-gradient(to right, black, #555, #ddd);
}
.navbar button {
    background-color: #07192cb8;
    color: white;
    border-radius:10px;
}
#about {
    padding: 50px 0px;
    text-align: center;
    background-image: url(../img/7.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    height: auto;
    color: #badbff;
}
#about .aboutheader {
    width: 40%;
    margin: auto;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin-bottom: 30px;
}
#about .aboutheader h1 {
    font-family: 'Courier New', Courier, monospace;
}
#about .Info {
    padding: 115px 20px;
}
#profile {
    padding: 50px 0px;
    text-align: center;
    height: auto;
    background: linear-gradient(to left, #000 30%, rgb(3 2 66));
    color: white;
}
#profile .profileHeader {
    width: 40%;
    margin: auto;
}
#profile .profileHeader h1 {
    position: relative;
}
#profile .profileHeader h1::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    left: 0px;
    background-color: white;
    top: 50%;
}
#profile .profileHeader h1::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    right: 0px;
    background-color: white;
    top: 50%;
}
#profile .profileInfo img {
    border-radius: 30%;
    width:100%;
    margin-bottom: 25px;
}
#profile i {
    font-size: 40px;
}
.fa-face-angry{
    color: red;
}
.fa-face-kiss-wink-heart{
    color: rgb(240, 36, 240);
}
.fa-face-kiss-beam{
    color: rgb(255, 87, 58);
}
#product {
    padding: 50px 0px;
    text-align: center;
    background-image: url(../img/5.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    height: auto;
    color: #badbff;
}
#product .productheader {
    margin-top: 30px;
    width: 35%;
    margin: auto;
    border-bottom: 2px solid white;
    border-radius: 15%;
}
#product .productheader h1 {
    border-left: 2px solid white;
    border-right: 2px solid white;
    font-family: 'Courier New', Courier, monospace;
}
#product .card {
    background-color: #444;
    color: white;
    margin-top: 10px;
}
#product .card img {
    height: 300px;
    background-color: white;
}
#footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 25px;
    color: #737373;
}
#footer h6 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 4px;
}
#footer .links {
    padding-left: 0;
}
#footer .links li {
    display: block;
    margin-bottom: 5px;
}
#footer a {
    color: #737373;
}
#footer a:hover{
    color: white;
    text-decoration: none;
    transition: all .2s linear;
}
#footer .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
}
#footer .social-icons li {
    display: inline-block;
    margin-bottom: 5px;
}
#footer .social-icons a{
    background-color: #33353d;
    color: #818a91;
    font-size: 22px;
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    transition: all .2s linear;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
}
#footer .social-icons .facebook:hover {
    background-color: #3b5998;
}
#footer .social-icons .twitter:hover {
    background-color: #00aced;
}
#footer .social-icons .dribbble:hover {
    background-color: #ea4c89;
}
#footer .social-icons .linkedin:hover {
    background-color: #007bb6;
}
@media (max-width: 600px){
#profile .profileHeader{
    width: 80%;
}
#profile .profileHeader h1 {
    font-size: 25px;
}

}

@media (max-width: 600px){
#about .aboutheader, #product .productheader {
    width: 60%;
}
#about .aboutheader h1, #product .productheader h1 {
    font-size: 25px;
}
}











